<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello. You are in the process of creating a new password for your account.</h1>
    <p>
      To protect your privacy, we need you to confirm you are the owner of this specific account.
    </p>
    <p>
      Please visit <%= link_to 'this security link', change_your_password_url(password_reset_token: @user.password_reset_token) %>.
    </p>
    <p>Thank you for visiting our site. We appreciate your presence.</p>
    <p>If you did <strong>not</strong> initiate this procedure, please ignore this email.</p>
  </body>
</html>
