<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello. We need to verify your email address</h1>
    <p>
      To protect your privacy, we need you to confirm you are the owner of the <%= @user.email %> address.
    </p>
    <p>
      Please visit <%= link_to 'this activation link', email_validation_url(token: @user.email_validation_token) %>.
    </p>
    <p>Thank you for visiting our site. We appreciate your presence.</p>
  </body>
</html>
