<ul class="nav nav-tabs" id="loginTab">
	<li class="active"><a href="#login-tab" data-toggle="tab"><%= t('authentication.login_now') %></a></li>
	<li><a href="#signup-tab" data-toggle="tab"><%= t('authentication.create_account') %></a></li>
</ul>
 
<div class="tab-content">
	<div class="tab-pane active" id="login-tab">
		<%= render 'sessions/form' %>
	</div>
	<div class="tab-pane" id="signup-tab">
		<%= render 'users/form', user: User.new %>
	</div>
</div>
