<ul class="nav nav-tabs" id="loginTab">
	<li class="active"><a href="#login-tab" data-toggle="tab">login</a></li>
	<li><a href="#signup-tab" data-toggle="tab">create account</a></li>
</ul>
 
<div class="tab-content">
	<div class="tab-pane active" id="login-tab">
		login content...
	</div>
	<div class="tab-pane" id="signup-tab">
		signup content...
	</div>
</div>
