<p class="login-info">
	<% if current_user %>
	  <strong><%= current_user.email %></strong> <%= link_to t('authentication.logout'), logout_path, class: 'btn btn-mini' %>
	<% else %>
	  <%= link_to t('authentication.login_now'), login_path, class: 'btn btn-mini' %> or <%= link_to "Sign Up", signup_path, class: 'btn btn-mini' %>
	<% end %>
</p>