<% content_for :meta_title, 'Enter your password and log in!' %>
<% content_for :meta_description, "Enter your password to log in." %>

<h1>Enter Your Password & We'll Log You Right In</h1>

<%= render 'enter_your_password_form' %>
