<h1>Forgot your password?</h1>

<%= simple_form_for User.new, :url => request_new_password_path, method: :post do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, autofocus: true, hint: "We'll send an email to this address." %>
  <%= f.submit 'let me set a new password!', class: 'btn btn-primary' %>
<% end %>
