<% content_for :meta_title, 'Email Confirmation' %>
<% content_for :meta_description, "An email was just sent. Please check your inbox." %>

<h1>A Validation Email is Coming</h1>

<p>We've just sent an email to <strong><%= @user.email %></strong>. Please check your inbox or spam folder.</p>
