<% content_for :meta_title, 'New Password Request Email Confirmation' %>
<% content_for :meta_description, "An email was just sent to enable you to get your new password. Please check your inbox." %>

<h1>Your New Password Request Email is Coming</h1>

<p>To enable you to reset your password we've just sent an email to <strong><%= @user.email %></strong>. Please check your inbox or spam folder.</p>
